@CHARSET "UTF-8";

body{
	font-family:Arial,Verdana,sans-serif;	
}
.content{
	
	/* height:100%;
	background-color: blue; */
	padding-top:10px;
	padding-left:1px;
	
	
}
.floating-box {
    display: inline-block;
    width: 42%;
    margin: 7px 10px 0 0;
    border: 1px solid #73AD21;
padding: 5px; 
vertical-align: middle; 
}

.after-box {
	margin: 7px 10px 0 0;
    border: 1px solid #73AD21;
    padding:5px;
}





/* navigation  */
.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: MidnightBlue ;
}

.li-nav {
    float: left;
}

.li-nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li-nav a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: DarkGreen ;
}